@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Lato:wght@400;700&display=swap");

@theme {
  --color-primary: #1e3a8a;
  --color-primary-hover: #172a6b;
  --color-secondary: #d9b310;
  --color-custom-text: #2c3e50;
  --color-text-light: #7f8c8d;
  --color-background: #f8f9fa;
  --color-black-overlay: rgba(0, 0, 0, 0.6);
  --border-radius-lg: 15px; /* Nuevo: para bordes más suaves */
  --box-shadow-light: 0 4px 15px rgba(0, 0, 0, 0.08); /* Sombra más sutil */
  --box-shadow-medium: 0 8px 25px rgba(0, 0, 0, 0.15);
}

body {
  font-family: "Lato", sans-serif; /* Establece una fuente base para el cuerpo */
  width: 100vw;
  overflow-x: hidden;
  padding-inline: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif; /* Y otra para los títulos si lo deseas */
}
